/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin site styling */

@font-face {
	font-family: CustomBebas;
	src:url("../BebasNeue.otf");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

div, a, span {
	display: block;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

a:hover {
	color: orange;
}

#main {
	height: 100%;
	width: 100%;
}

header {
	width: 100%;
	height: 129px;
	background: #fff;
}

.centered {
	text-align: center;
}

.container {
	padding-top: 25px;
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.content-wrapper {
	height: 100%;
	width: 100%;

}

li {
	display: inline;
}

#user-settings, #connect-info, #page-nav {
	position: absolute;
	right: 0;
}

#header-logo {
	padding-top: 10px;
	width: 250px;
	display: inline-block;
}

#user-settings {
	top: 0;
}

#connect-info {
	top: 30px;
}

section {
	position: relative;
	width: 100%;
}

#search, #happenings, #preferences {
	background-color: #ededed;
}

.title-description {
	margin: 10px 0;
}

.section-title {
	margin-bottom: 25px;
	font-family: 'CustomBebas', Helvetica, Arial, sans-serif;
	font-size: 40px;
}

#carousel {
	height: 600px;
}

.nav-wrapper {
	width: 100%;
	height: 150px;
	background-color:rgba(0,0,0,0.6);
	position: absolute;
	bottom: 0;
}

.areas {
	height: 50%;
	text-align: center;
	opacity: 1;
}

.areas ul {
	display: inline-block;
}

.areas li {
	margin: 0 50px;
	color: white;
}

.explanation {
	height: 50%;
	border-top: 1px solid rgba(80,80,80,0.6);
}

.explanation span {
	color: white;
}

#search {
	height: 222px;
}

input {
	width: 30%;
	height: 35px;
	border-radius: 3px;
	border: 0;
	font-size: 12px;
	padding-left: 10px;
}

button {
	width: 50%;
	height: 40px;
	color: #fff;
	margin: 15px auto 0 !important;
	text-align: center;
	background-color: #d35400;
	border: 1px solid #c0392b;
	border-radius: 3px;
}

#featured {
	
}

.house {
	display: inline-block;
	width: 200px;
	margin: 0 0 20px 28px;
}

.neighborhood-house {
	height: auto;
	max-width: 100%;
	border: 5px solid #d3d3d3
}

.detail-description {
	line-height: 1.5em;
}

#happenings {

}

.happening {
	display: inline-block;
	position: relative;
	width: 290px;
	height: 294px;
	background: #fff;
	margin: 0 0 20px 18px;

	box-shadow: 0px 0px 5px silver;
	background-color: black;
}

.listing-house-image, .event-image {
	max-width: 100%;
	max-height: 100%;
}

.listing-description {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40%;
	background-color: #fff;
}

.event-description {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30%;
	background-color: #fff;
}

.desc-wrapper {
	padding: 10px 20px;
}

#testimonials {

}

.testimonial-preview {
	width: 100%;
	height: 500px;
}

.column {
	display: inline-block;
	float: left;
	height: 100%;
	width: 50%;
}

.social {
	width: 33.3%;
}

.social-media-info {
	width: 100%;
	height: 500px;
	border-top: 1px dotted silver;
}

#preferences {

}

.living-selections {
	height: 50%;
}

.city-selections {
	height: 50%;
	border-top: 4px dotted silver;
}

.place {
	text-align: center;
	/*display: inline;*/
	margin-bottom: 20px;
	margin-left: 50px;
}

#footer {
	background-color: black;
}

.minor-info {
	height: 10%;
}

.footer-links {
	margin: 0 auto;
	text-align: center;
	color: white;
}

.footer-links > li {
	margin-left: 20px;
}

.external {
	display: inline;
	color: gray;
}

.external:hover {
	color: white;
}

.major-info {
	height: 80%;
	border-top: 1px dotted gray;
	border-bottom: 1px dotted gray;
}

@media (max-width: 760px) {
	.container {
		width: 100%;
		padding: 10px;
	}

	.container li {
		margin: 0;
	}

	.nav-wrapper {
		height: 200px;
		background-color: rgba(0,0,0,0);
	}

	.areas ul {
		width: 100%;
	}

	.areas li {
		display: block;
		width: 100%;
		height: 50px;
		margin-bottom: 10px;
		background-color:rgba(0,0,0,0.6);
		border-radius: 5px;
	}

	.explanation {
		display: none;
	}

	#featured li {
		width: 49%;
	}

	.house {
		min-width: 41%;
		height: auto;
	}

	.happening {
		margin: 5px;
		display: inline-block;
		min-width: 30%;
		height: auto;
	}
}
